<!DOCTYPE html>
<html lang="en">
  <head>
    {{$myId := .UserId}}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/reconnecting-websocket.min.js"></script>
    <title>Chat</title>
  </head>
  <body class="bg-gray-900">
    <div
      class="
        flex flex-col flex-auto
        h-full
        p-6
        fixed
        w-full
        max-w-4xl
        h-full
        mx-auto
        left-0
        right-0
        top-0
      "
    >
      <div
        class="
          flex flex-col flex-auto flex-shrink-0
          rounded-2xl
          bg-gray-100
          h-full
          p-2
        "
      >
        <div class="flex items-center pb-2 border-b border-gray-300">
          <a
            href="/"
            class="
              text-blue-600
              rounded-full
              py-1
              px-2
              text-center
              bg-blue-100
              w-[100px]
              hover:bg-blue-200
              mr-10
              inline-block
            "
          >
            ⬅️ Go back
          </a>
          <span class="mr-2">
            <img
              src="https://robohash.org/{{.OtherPeer.Firstname}}"
              class="rounded-full w-10 h-10 border border-gray-400 mx-auto mb-1"
            />
          </span>
          <span>{{.OtherPeer.Firstname}} {{.OtherPeer.Lastname}}</span>
          <form method="POST" action="/api/block">
            <input type="hidden" name="userToBlock" value="{{.OtherPeer.Id}}" />
            <input type="hidden" name="block" value="{{not .IsChatBlocked}}" />
            <button
              type="submit"
              class="
                ml-5
                px-2
                py-1
                rounded-full
                bg-red-100
                text-red-600
                font-semibold
                hover:bg-red-200
              "
            >
              {{if .IsChatBlocked}} unblock {{else}} block {{end}}
            </button>
          </form>
        </div>
        {{if not .IsChatBlocked}}
        <div
          class="flex flex-col h-full overflow-x-auto mb-4 h-[500px]"
          id="chat-wrapper"
        >
          <div class="flex flex-col h-full">
            <div class="grid grid-cols-12 gap-y-2" id="messages">
              {{range .Messages}}
              <!-- if im not the sender -->
              {{if ne $myId .SentFrom}}
              <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div
                    class="
                      relative
                      ml-3
                      text-sm
                      bg-white
                      py-2
                      px-4
                      shadow
                      rounded-xl
                    "
                  >
                    <div>{{.Msg}}</div>
                  </div>
                </div>
              </div>
              {{else}}
              <div class="col-start-6 col-end-13 p-3 rounded-lg">
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="
                      relative
                      mr-3
                      text-sm
                      bg-blue-600
                      text-white
                      py-2
                      px-4
                      shadow
                      rounded-xl
                    "
                  >
                    <div>{{.Msg}}</div>
                  </div>
                </div>
              </div>
              {{end}} {{end}}
            </div>
          </div>
        </div>
        <div
          class="
            flex flex-row
            items-center
            rounded-xl
            py-2
            bg-white
            w-full
            px-4
          "
        >
          <div class="flex-grow">
            <div class="relative w-full">
              <textarea
                type="text"
                rows="2"
                placeholder="write your message..."
                id="textArea"
                class="
                  flex
                  w-full
                  border-2
                  rounded-xl
                  focus:outline-none focus:border-blue-500
                  py-2
                  pl-4
                "
              ></textarea>
            </div>
          </div>
          <div class="flex-shrink-1 ml-4">
            <button
              id="sendBtn"
              class="
                rounded-2xl
                border-b-4 border-b-blue-600
                bg-blue-500
                py-4
                px-14
                font-bold
                text-white
                hover:bg-blue-400
                active:translate-y-[0.125rem] active:border-b-blue-400
              "
            >
              <span>Send</span>
            </button>
          </div>
        </div>
        {{else}}
        <div class="px-2 py-10 text-center mx-auto max-w-lg">
          <svg
            class="mx-auto"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M14.9 2H9.1c-.68 0-1.64.4-2.12.88l-4.1 4.1C2.4 7.46 2 8.42 2 9.1v5.8c0 .68.4 1.64.88 2.12l4.1 4.1c.48.48 1.44.88 2.12.88h5.8c.68 0 1.64-.4 2.12-.88l4.1-4.1c.48-.48.88-1.44.88-2.12V9.1c0-.68-.4-1.64-.88-2.12l-4.1-4.1C16.54 2.4 15.58 2 14.9 2ZM4.94 19.08 19.08 4.94"
              stroke="currentColor"
              class="stroke-red-500"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <p class="font-semibold mt-2 text-lg">Blocked for now</p>
        </div>
        {{end}}
      </div>
    </div>

    <div
      id="reconnecting-toast"
      class="
        hidden
        fixed
        px-10
        py-2
        rounded-md
        shadow-md
        bg-blue-500
        text-white
        top-5
        left-[45%]
      "
    ></div>
    <script>
      const sendBtn = document.getElementById("sendBtn");
      const textArea = document.getElementById("textArea");
      const messages = document.getElementById("messages");
      const scrollToBottom = () => {
        document.getElementById("chat-wrapper").scrollTop =
          messages.offsetHeight;
      };
      scrollToBottom();

      const reconnectingToast = document.getElementById("reconnecting-toast");
      const otherPeerId = location.pathname.slice(
        location.pathname.lastIndexOf("/") + 1
      );
      const myId = Number.parseInt("{{$myId}}");

      let ws = new ReconnectingWebSocket("ws://localhost:7777/ws");

      ws.onclose = () => {
        reconnectingToast.textContent = "Reconnecting...";
        reconnectingToast.style.display = "block";
      };

      ws.onopen = (e) => {
        console.log("Connected !", e);
        if (e.isReconnect) {
          reconnectingToast.textContent = "Connected again !";
          setTimeout(() => {
            reconnectingToast.style.display = "none";
          }, 5000);
        }
      };
      ws.onerror = (err) => {
        console.log("WS ERROR: ", err);
      };
      ws.onmessage = (e) => {
        const newMsg = JSON.parse(e.data);
        messages.insertAdjacentHTML(
          "beforeend",
          `${
            newMsg.sentTo == myId
              ? `<div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                <div
                  class="
                    relative
                    ml-3
                    text-sm
                    bg-white
                    py-2
                    px-4
                    shadow
                    rounded-xl">
                  <div>${newMsg.msg}</div>
                </div>
              </div>
            </div>`
              : `<div class="col-start-6 col-end-13 p-3 rounded-lg">
              <div class="flex items-center justify-start flex-row-reverse">
                <div
                  class="
                    relative
                    mr-3
                    text-sm
                    bg-blue-600
                    text-white
                    py-2
                    px-4
                    shadow
                    rounded-xl">
                  <div>${newMsg.msg}</div>
                </div>
              </div>
            </div>`
          }`
        );

        scrollToBottom();
      };

      sendBtn.onclick = () => {
        ws.send(
          JSON.stringify({
            msg: textArea.value,
            sentTo: Number.parseInt(otherPeerId),
          })
        );
        textArea.textContent = "";
        textArea.value = "";
      };
    </script>
  </body>
</html>
