<!DOCTYPE html>
<html lang="en">
  <head>
    {{$myId := .UserId}}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/reconnecting-websocket.min.js"></script>
    <title>Chat</title>
  </head>
  <body>
    <div
      class="
        flex flex-col flex-auto
        h-full
        p-6
        fixed
        w-full
        h-full
        left-0
        top-0
      "
    >
      <div
        class="
          flex flex-col flex-auto flex-shrink-0
          rounded-2xl
          bg-gray-100
          h-full
          p-2
        "
      >
        <div class="flex items-center pb-2 border-b border-gray-300">
          <a
            href="/"
            class="
              text-blue-600
              rounded-full
              py-1
              px-2
              text-center
              bg-blue-100
              w-[100px]
              hover:bg-blue-200
              mr-10
              inline-block
            "
          >
            ⬅️ Go back
          </a>
          <span class="mr-2">
            <img
              src="https://robohash.org/{{.OtherPeer.Firstname}}"
              class="rounded-full w-10 h-10 border border-gray-400 mx-auto mb-1"
            />
          </span>
          <span>{{.OtherPeer.Firstname}} {{.OtherPeer.Lastname}}</span>
        </div>
        <div class="flex flex-col h-full overflow-x-auto mb-4 max-h-[500px]">
          <div class="flex flex-col h-full">
            <div class="grid grid-cols-12 gap-y-2" id="messages">
              {{range .Messages}}
              <!-- if im not the sender -->
              {{if ne $myId .SentFrom}}
              <div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                  <div
                    class="
                      relative
                      ml-3
                      text-sm
                      bg-white
                      py-2
                      px-4
                      shadow
                      rounded-xl
                    "
                  >
                    <div>{{.Msg}}</div>
                  </div>
                </div>
              </div>
              {{else}}
              <div class="col-start-6 col-end-13 p-3 rounded-lg">
                <div class="flex items-center justify-start flex-row-reverse">
                  <div
                    class="
                      relative
                      mr-3
                      text-sm
                      bg-indigo-300
                      py-2
                      px-4
                      shadow
                      rounded-xl
                    "
                  >
                    <div>{{.Msg}}</div>
                  </div>
                </div>
              </div>
              {{end}} {{end}}
            </div>
          </div>
        </div>
        <div
          class="
            flex flex-row
            items-center
            rounded-xl
            py-2
            bg-white
            w-full
            px-4
          "
        >
          <div class="flex-grow ml-4">
            <div class="relative w-full">
              <textarea
                type="text"
                rows="2"
                placeholder="write your message..."
                id="textArea"
                class="
                  flex
                  w-full
                  border
                  rounded-xl
                  focus:outline-none focus:border-indigo-300
                  py-2
                  pl-4
                "
              ></textarea>
            </div>
          </div>
          <div class="ml-4">
            <button
              id="sendBtn"
              class="
                bg-indigo-500
                hover:bg-indigo-600
                rounded-full
                text-white
                px-4
                py-2
                flex-shrink-0
              "
            >
              <span>Send</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      id="reconnecting-toast"
      class="
        hidden
        fixed
        px-10
        py-2
        rounded-md
        shadow-md
        bg-blue-500
        text-white
        top-5
        left-[45%]
      "
    ></div>
    <script>
      const sendBtn = document.getElementById("sendBtn");
      const textArea = document.getElementById("textArea");
      const messages = document.getElementById("messages");
      const reconnectingToast = document.getElementById("reconnecting-toast");
      const otherPeerId = location.pathname.slice(
        location.pathname.lastIndexOf("/") + 1
      );
      const myId = Number.parseInt("{{$myId}}");

      let ws = new ReconnectingWebSocket("ws://localhost:7777/ws");

      ws.onclose = () => {
        reconnectingToast.textContent = "Reconnecting...";
        reconnectingToast.style.display = "block";
      };

      ws.onopen = (e) => {
        console.log("Connected !", e);
        if (e.isReconnect) {
          reconnectingToast.textContent = "Connected again !";
          setTimeout(() => {
            reconnectingToast.style.display = "none";
          }, 5000);
        }
      };
      ws.onerror = (err) => {
        console.log("WS ERROR: ", err);
      };
      ws.onmessage = (e) => {
        const newMsg = JSON.parse(e.data);
        messages.insertAdjacentHTML(
          "beforeend",
          `${
            newMsg.sentTo == myId
              ? `<div class="col-start-1 col-end-8 p-3 rounded-lg">
                <div class="flex flex-row items-center">
                <div
                  class="
                    relative
                    ml-3
                    text-sm
                    bg-white
                    py-2
                    px-4
                    shadow
                    rounded-xl">
                  <div>${newMsg.msg}</div>
                </div>
              </div>
            </div>`
              : `<div class="col-start-6 col-end-13 p-3 rounded-lg">
              <div class="flex items-center justify-start flex-row-reverse">
                <div
                  class="
                    relative
                    mr-3
                    text-sm
                    bg-indigo-300
                    py-2
                    px-4
                    shadow
                    rounded-xl">
                  <div>${newMsg.msg}</div>
                </div>
              </div>
            </div>`
          }`
        );
      };

      sendBtn.onclick = () => {
        ws.send(
          JSON.stringify({
            msg: textArea.value,
            sentTo: Number.parseInt(otherPeerId),
          })
        );
        // messages.insertAdjacentHTML(
        //   "beforeend",
        //   `<div class="col-start-6 col-end-13 p-3 rounded-lg">
        //       <div class="flex items-center justify-start flex-row-reverse">
        //         <div
        //           class="
        //             relative
        //             mr-3
        //             text-sm
        //             bg-indigo-300
        //             py-2
        //             px-4
        //             shadow
        //             rounded-xl
        //           "
        //         >
        //           <div>${textArea.value}</div>
        //         </div>
        //       </div>
        //     </div>`
        // );
        textArea.textContent = "";
        textArea.value = "";
      };
    </script>
  </body>
</html>
